<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Premium</title>
    <!--    <link rel="stylesheet" href="main.css"/>-->
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />-->
</head>
<script type="text/javascript" src="sidebar.js"></script>

<style>
    .myThead {
        background: rgb(46, 48, 49);
        color: white;
    }

    .table_a {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .myTable {
        padding: 10px;
    }
</style>

<body>
<div class="app">
    <div class="menu-toggle">
        <div class="hamburger">
            <span></span>
        </div>
    </div>

    <aside class="sidebar">
        <h3>Restaurant Premium</h3>

        <nav class="menu">
            <a href="/about" class="menu-item" id="menu">About</a>
            <a href="/premium" class="menu-item">Premium</a>
            <a href="//portfolio" class="menu-item">Portfolio</a>
            <a href="/payment" class="menu-item">Payment</a>
            <a href="/activity" class="menu-item">Activity</a>
            <a href="/reward" class="menu-item">Reward</a>
            <a href="/vipMain" class="menu-item is-active" id="menu">Home</a>
        </nav>

    </aside>


    <main class="content" id="content1">
        <h1>Restaurant </h1>
        <h1>[[${userId}]]</h1>

        <!--        <ul th:each="message : ${session}">-->
        <!--            <li></li>-->
        <!--        </ul>-->
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, explicabo!</p>

        <div style="margin:20px;">

            <a class="h2 mr-2" th:href="@{/vipUsers/new}" style="color: green;"><span
                    class="glyphicon glyphicon-plus"></span>Add New Plan!</a>
        </div>

        <!--        <caption>VIP表格</caption>-->

        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <table class="table table-striped table-hover myTable">

            <thead class="myThead">
            <tr>
                <th>VIP ID</th>
                <th>Email</th>
                <th>VIP Name</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="vipUser : ${listVipUsers}">
                <tr>
                    <td>[[${vipUser.vipID}]]</td>
                    <td>[[${vipUser.email}]]</td>
                    <td>[[${vipUser.vipName}]]</td>
                    <td class="table_a">
                        <a th:href="@{'/vipUsers/edit/' + ${vipUser.vipID}}">Edit</a>
                        <a th:href="@{'/vipUsers/delete/' + ${vipUser.vipID}}">Cancel</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>


    </main>

</div>

</body>

</html>